My workflow (1).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 10
            }
          ]
        }
      },
      "id": "b343211f-3f94-4698-b9b6-5c05e71ee3bc",
      "name": "Every Sunday 03:00 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -96,
        208
      ]
    },
    {
      "parameters": {
        "url": "https://dadosabertos.camara.leg.br/api/v2/deputados",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "idLegislatura",
              "value": "57"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "906b0f53-42a4-4153-afd5-ef3927661096",
      "name": "Fetch Deputies from API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        128,
        208
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "dados",
        "options": {}
      },
      "id": "9f358938-394d-43e8-84cc-fa2ba9691517",
      "name": "Split Deputies Array",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        352,
        208
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "name",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "politicos",
          "mode": "list",
          "cachedResultName": "politicos"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "id": "={{ $json.id }}",
            "nome": "={{ $json.nome }}",
            "sigla_partido": "={{ $json.sigla_partido }}",
            "sigla_uf": "={{ $json.sigla_uf }}",
            "url_foto": "={{ $json.url_foto }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "sigla_partido",
              "displayName": "sigla_partido",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "sigla_uf",
              "displayName": "sigla_uf",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "url_foto",
              "displayName": "url_foto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "ativo",
              "displayName": "ativo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "atualizado_em",
              "displayName": "atualizado_em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "96da01da-4c90-4dfc-b52a-563c430b20f2",
      "name": "Upsert to Politicos Table",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        736,
        208
      ],
      "credentials": {
        "postgres": {
          "id": "BwsPFTycGdamg1Kb",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f48018c2-9f4c-48ac-b173-99081c778907",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "dd4b2261-5050-4e87-b6e9-7784bec1881e",
              "name": "nome",
              "value": "={{ $json.nome }}",
              "type": "string"
            },
            {
              "id": "feb979a7-1438-4079-820a-44c79a31eeea",
              "name": "sigla_partido",
              "value": "={{ $json.siglaPartido }}",
              "type": "string"
            },
            {
              "id": "d2e26e64-ace1-42a3-b510-0d3cc77abba6",
              "name": "sigla_uf",
              "value": "={{ $json.siglaUf }}",
              "type": "string"
            },
            {
              "id": "02939408-7f36-4001-85d7-ea9989e276c4",
              "name": "url_foto",
              "value": "={{ $json.urlFoto }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        208
      ],
      "id": "6c41a6ff-74c3-425e-b69a-3ded60cce48b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "https://dadosabertos.camara.leg.br/api/v2/votacoes",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "dataInicio",
              "value": "2024-03-01"
            },
            {
              "name": "dataFim",
              "value": "2024-03-14"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 10,
              "batchInterval": 1500
            }
          }
        }
      },
      "id": "7f122f24-ecc6-4318-bff5-c7230337d78a",
      "name": "Buscar Votações",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        96,
        432
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "dados",
        "options": {}
      },
      "id": "f42ede7d-2aa2-4f18-94b6-df8a1e8bcd43",
      "name": "Extrair Array de Votações",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        272,
        432
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "ementa",
              "value": "={{ $json.descricao }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "data_hora_votacao",
              "value": "={{ $json.data }}",
              "type": "string"
            },
            {
              "id": "5e1b8195-f3aa-4bc5-8ad7-cd1e30ebf497",
              "name": "aprovacao",
              "value": "={{ $json.aprovacao }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7e36cd3d-e752-4c96-8662-bff774d13e39",
      "name": "Traduzir Votações para Banco",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        432
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "name",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "votacoes",
          "cachedResultName": "votacoes"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "aprovada": false
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sigla_tipo",
              "displayName": "sigla_tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "ano",
              "displayName": "ano",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "ementa",
              "displayName": "ementa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "data_hora_votacao",
              "displayName": "data_hora_votacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "aprovada",
              "displayName": "aprovada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "proposicao_id",
              "displayName": "proposicao_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "aprovacao",
              "displayName": "aprovacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b0f13f53-30ee-495b-86b0-35df61cbe500",
      "name": "Salvar Votação",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        624,
        432
      ],
      "credentials": {
        "postgres": {
          "id": "BwsPFTycGdamg1Kb",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://dadosabertos.camara.leg.br/api/v2/votacoes/{{ $json.id }}/votos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 2,
              "batchInterval": 1500
            }
          }
        }
      },
      "id": "e6daab58-4af7-43c6-9fad-242c773cb73a",
      "name": "Buscar Votos da Votação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        816,
        432
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "dados",
        "options": {}
      },
      "id": "ebcd10e1-3a6e-4bc2-b70d-d9d42f201465",
      "name": "Extrair Array de Votos",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1008,
        432
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "votacao_id",
              "value": "={{ $('Salvar Votação').item.json.id }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "politico_id",
              "value": "={{ $json.deputado_.id }}",
              "type": "number"
            },
            {
              "id": "id-3",
              "name": "voto",
              "value": "={{ $json.tipoVoto }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c698bb60-2af6-4277-9556-346275fefa9d",
      "name": "Traduzir Votos para Banco",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        432
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "name",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "votos_deputados",
          "cachedResultName": "votos_deputados"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "votacao_id",
            "politico_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "votacao_id",
              "displayName": "votacao_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "politico_id",
              "displayName": "politico_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "voto",
              "displayName": "voto",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "647a1e6d-a260-4334-827a-9d37bf868397",
      "name": "Salvar Votos",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1344,
        432
      ],
      "credentials": {
        "postgres": {
          "id": "BwsPFTycGdamg1Kb",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -96,
        432
      ],
      "id": "6875dcb6-5c1a-4226-985c-c680fa979ee9",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {},
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Every Sunday 03:00 AM": {
      "main": [
        [
          {
            "node": "Fetch Deputies from API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Deputies from API": {
      "main": [
        [
          {
            "node": "Split Deputies Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Deputies Array": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert to Politicos Table": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Upsert to Politicos Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Votações": {
      "main": [
        [
          {
            "node": "Extrair Array de Votações",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Array de Votações": {
      "main": [
        [
          {
            "node": "Traduzir Votações para Banco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Traduzir Votações para Banco": {
      "main": [
        [
          {
            "node": "Salvar Votação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Votação": {
      "main": [
        [
          {
            "node": "Buscar Votos da Votação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Votos da Votação": {
      "main": [
        [
          {
            "node": "Extrair Array de Votos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Array de Votos": {
      "main": [
        [
          {
            "node": "Traduzir Votos para Banco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Traduzir Votos para Banco": {
      "main": [
        [
          {
            "node": "Salvar Votos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Buscar Votações",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8233f154-aa8b-40e3-8486-0b9ac5230b5a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7c72b99248d90384dd9122231bdcb69e79eb19b288f01e8691443edde47edc09"
  },
  "id": "0FbmZo52pNC9r3Y5nMrj5",
  "tags": []
}
