UPSERT DEPUTADOS E DESPESAS.json
{
  "name": "UPSERT DEPUTADOS E DESPESAS",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 10
            }
          ]
        }
      },
      "id": "54c66a0d-2b15-4dba-9c00-c9bc0aef85b1",
      "name": "Every Sunday 03:00 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1392,
        -208
      ]
    },
    {
      "parameters": {
        "url": "https://dadosabertos.camara.leg.br/api/v2/deputados",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "idLegislatura",
              "value": "57"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "b4dee88f-b0f9-4287-b32f-cb30d6acc657",
      "name": "Fetch Deputies from API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1168,
        -208
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "dados",
        "options": {}
      },
      "id": "72cabf7c-0d32-44c1-a300-8d41b98d504d",
      "name": "Split Deputies Array",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -944,
        -208
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "name",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "politicos",
          "mode": "list",
          "cachedResultName": "politicos"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "id": "={{ $json.id }}",
            "nome": "={{ $json.nome }}",
            "sigla_partido": "={{ $json.sigla_partido }}",
            "sigla_uf": "={{ $json.sigla_uf }}",
            "url_foto": "={{ $json.url_foto }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "sigla_partido",
              "displayName": "sigla_partido",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "sigla_uf",
              "displayName": "sigla_uf",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "url_foto",
              "displayName": "url_foto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "ativo",
              "displayName": "ativo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "atualizado_em",
              "displayName": "atualizado_em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "55649d71-9081-4c99-89a5-6d35f693d90a",
      "name": "Upsert to Politicos Table",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -496,
        -208
      ],
      "credentials": {
        "postgres": {
          "id": "YLVCMMsG43hwaUPk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f48018c2-9f4c-48ac-b173-99081c778907",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "dd4b2261-5050-4e87-b6e9-7784bec1881e",
              "name": "nome",
              "value": "={{ $json.nome }}",
              "type": "string"
            },
            {
              "id": "feb979a7-1438-4079-820a-44c79a31eeea",
              "name": "sigla_partido",
              "value": "={{ $json.siglaPartido }}",
              "type": "string"
            },
            {
              "id": "d2e26e64-ace1-42a3-b510-0d3cc77abba6",
              "name": "sigla_uf",
              "value": "={{ $json.siglaUf }}",
              "type": "string"
            },
            {
              "id": "02939408-7f36-4001-85d7-ea9989e276c4",
              "name": "url_foto",
              "value": "={{ $json.urlFoto }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -720,
        -208
      ],
      "id": "67e4ac2e-64ab-4036-9a78-6900a4aea617",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 15 * *"
            }
          ]
        }
      },
      "id": "c20cc806-6ec7-41c4-bd96-014bf98dc796",
      "name": "Monthly on 15th - Collect Expenses",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -320,
        784
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM politicos WHERE ativo = true",
        "options": {}
      },
      "id": "919bc3ce-5038-442b-aaf5-15ba81429fe8",
      "name": "Get Active Deputies",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -96,
        784
      ],
      "credentials": {
        "postgres": {
          "id": "YLVCMMsG43hwaUPk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 2,
        "options": {}
      },
      "id": "35f99aa9-f65b-4d6b-be19-cb6252039dee",
      "name": "Loop Over Deputies",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        112,
        528
      ]
    },
    {
      "parameters": {
        "url": "=https://dadosabertos.camara.leg.br/api/v2/deputados/{{ $json.id }}/despesas",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ano",
              "value": "=2023"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5,
              "batchInterval": 1500
            }
          }
        }
      },
      "id": "826de167-2597-4fa0-8edd-43502d3b7220",
      "name": "Fetch Deputy Expenses",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        384,
        624
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "dados",
        "options": {}
      },
      "id": "8c9a3347-9e68-4e66-a4da-1236a97cc393",
      "name": "Extract Expenses Array",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        832,
        592
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "politico_id",
              "value": "={{ $('Loop Over Deputies').item.json.id }}",
              "type": "number"
            },
            {
              "id": "id-2",
              "name": "ano",
              "value": "={{ $json.ano }}",
              "type": "number"
            },
            {
              "id": "id-3",
              "name": "mes",
              "value": "={{ $json.mes }}",
              "type": "number"
            },
            {
              "id": "id-4",
              "name": "tipo_despesa",
              "value": "={{ $json.tipoDespesa }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "cnpj_cpf_fornecedor",
              "value": "={{ $json.cnpjCpfFornecedor }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "nome_fornecedor",
              "value": "={{ $json.nomeFornecedor }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "tipo_documento",
              "value": "={{ $json.tipoDocumento }}",
              "type": "string"
            },
            {
              "id": "id-8",
              "name": "data_documento",
              "value": "={{ $json.dataDocumento ? $json.dataDocumento : null }}",
              "type": "string"
            },
            {
              "id": "id-9",
              "name": "num_documento",
              "value": "={{ $json.numDocumento }}",
              "type": "string"
            },
            {
              "id": "id-10",
              "name": "valor_documento",
              "value": "={{ parseFloat($json.valorDocumento) || 0 }}",
              "type": "number"
            },
            {
              "id": "id-11",
              "name": "valor_glosa",
              "value": "={{ parseFloat($json.valorGlosa) || 0 }}",
              "type": "number"
            },
            {
              "id": "id-12",
              "name": "valor_liquido",
              "value": "={{ parseFloat($json.valorLiquido) || 0 }}",
              "type": "number"
            },
            {
              "id": "id-13",
              "name": "num_lote",
              "value": "={{ $json.numLote }}",
              "type": "string"
            },
            {
              "id": "id-14",
              "name": "num_ressarcimento",
              "value": "={{ $json.numRessarcimento }}",
              "type": "string"
            },
            {
              "id": "id-15",
              "name": "parcela",
              "value": "={{ parseInt($json.parcela) || 0 }}",
              "type": "number"
            },
            {
              "id": "id-16",
              "name": "url_documento",
              "value": "={{ $json.urlDocumento }}",
              "type": "string"
            },
            {
              "id": "id-17",
              "name": "cod_documento",
              "value": "={{ $json.codDocumento }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "58ecafc4-dc2c-4fa1-aacf-7404f19787ce",
      "name": "Map to Database Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1056,
        640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "12e9a241-87cc-489f-bbc0-bb3ac4f27dda",
              "leftValue": "={{ $json.dados.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        576,
        640
      ],
      "id": "60cf385b-1db6-473e-8ba7-170da8cd6fc2",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "despesas",
          "cachedResultName": "despesas"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "cod_documento"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "politico_id",
              "displayName": "politico_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "ano",
              "displayName": "ano",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "mes",
              "displayName": "mes",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "tipo_despesa",
              "displayName": "tipo_despesa",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "valor_liquido",
              "displayName": "valor_liquido",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "url_documento",
              "displayName": "url_documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "cnpj_cpf_fornecedor",
              "displayName": "cnpj_cpf_fornecedor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "data_documento",
              "displayName": "data_documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "nome_fornecedor",
              "displayName": "nome_fornecedor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "num_documento",
              "displayName": "num_documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "num_lote",
              "displayName": "num_lote",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "num_ressarcimento",
              "displayName": "num_ressarcimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "parcela",
              "displayName": "parcela",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "tipo_documento",
              "displayName": "tipo_documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "valor_documento",
              "displayName": "valor_documento",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "valor_glosa",
              "displayName": "valor_glosa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "cod_documento",
              "displayName": "cod_documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "64d12d71-26bb-4018-a13b-f144b0eba282",
      "name": "Upsert Expenses",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1248,
        688
      ],
      "credentials": {
        "postgres": {
          "id": "YLVCMMsG43hwaUPk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://dadosabertos.camara.leg.br/api/v2/deputados/{{ $json.id }}/despesas",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ano",
              "value": "={{ $now.minus({months: 1}).year }}"
            },
            {
              "name": "mes",
              "value": "={{ $now.minus({months: 1}).month }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5,
              "batchInterval": 1500
            }
          }
        }
      },
      "id": "51c299e9-64a4-4055-8c9a-b559939a13c5",
      "name": "Fetch Deputy Expenses1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        992,
        384
      ]
    },
    {
      "parameters": {
        "content": "## VOLTAR COM ESSE NODE DEPOIS",
        "height": 224,
        "width": 304,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        832,
        288
      ],
      "id": "5768844d-d4a4-4478-b9e0-f36d4cc27419",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "errorMessage": "sss"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        336,
        416
      ],
      "id": "87c52ff4-e45a-4fd9-b4ac-582b4d228adf",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "content": "# WORKFLOW DE INSERÇÃO DE DESPESAS\n",
        "height": 704,
        "width": 1840
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -416,
        256
      ],
      "id": "c3077082-7136-43cb-83ea-d565825eaf61",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# UPSERT DEPUTADOS",
        "height": 288,
        "width": 1184
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1488,
        -320
      ],
      "id": "59c4f611-ec8e-4cc0-b103-4d15b051dd2a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT nome, \"sigla_partido\", \"sigla_uf\" \nFROM politicos \nWHERE id = 178946;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -656,
        304
      ],
      "id": "15f87e76-1aa1-46ce-9900-9a5d457aa90d",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "YLVCMMsG43hwaUPk",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Every Sunday 03:00 AM": {
      "main": [
        [
          {
            "node": "Fetch Deputies from API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Deputies from API": {
      "main": [
        [
          {
            "node": "Split Deputies Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Deputies Array": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Upsert to Politicos Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monthly on 15th - Collect Expenses": {
      "main": [
        [
          {
            "node": "Get Active Deputies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Deputies": {
      "main": [
        [
          {
            "node": "Loop Over Deputies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Deputies": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Deputy Expenses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Deputy Expenses": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Expenses Array": {
      "main": [
        [
          {
            "node": "Map to Database Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map to Database Fields": {
      "main": [
        [
          {
            "node": "Upsert Expenses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Extract Expenses Array",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Deputies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Expenses": {
      "main": [
        [
          {
            "node": "Loop Over Deputies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "96e97bbf-22b6-47dc-beac-6aa98ee3dae2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7c72b99248d90384dd9122231bdcb69e79eb19b288f01e8691443edde47edc09"
  },
  "id": "eSRUzve5QMY-EDp7JAkkB",
  "tags": []
}