UPSERT NOTICIAS.json
{
  "name": "UPSERT NOTICIAS",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 5 * * *"
            }
          ]
        }
      },
      "id": "b8f4715d-0686-4551-b321-5b17c4345330",
      "name": "Daily 05:00 - Recent News",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -224,
        160
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, nome, COALESCE(nome_eleitoral, nome) AS nome_eleitoral, sigla_partido, sigla_uf\nFROM politicos\nWHERE ativo = true\nORDER BY nome ASC;",
        "options": {}
      },
      "id": "bb1b68ef-2a33-4f9c-9955-7136c7307311",
      "name": "Get Active Deputies - Recent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        16,
        160
      ],
      "credentials": {
        "postgres": {
          "id": "YLVCMMsG43hwaUPk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "96eb4ad7-1c51-4409-a854-64bc6155a803",
      "name": "Loop Deputies - Recent",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        256,
        160
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec61758c-8b44-47e4-95f4-2f0f73605388",
              "name": "politico_id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "91b959cb-eed8-47d4-a0f7-63144c891c89",
              "name": "nome",
              "value": "={{ $json.nome }}",
              "type": "string"
            },
            {
              "id": "32e6eaec-aecf-4dce-ab11-f94f44942046",
              "name": "nome_eleitoral",
              "value": "={{ $json.nome_eleitoral }}",
              "type": "string"
            },
            {
              "id": "1c3ba2b5-8fb5-41cb-b8d5-987e55e24e06",
              "name": "sigla_partido",
              "value": "={{ $json.sigla_partido }}",
              "type": "string"
            },
            {
              "id": "95e5dce8-7ddc-497d-b9eb-d7a4a5b3bbbc",
              "name": "sigla_uf",
              "value": "={{ $json.sigla_uf }}",
              "type": "string"
            },
            {
              "id": "60fce965-3b37-4264-a0fb-c4e203c31b0d",
              "name": "periodo_tipo",
              "value": "recente",
              "type": "string"
            },
            {
              "id": "b75ca390-aa46-4907-aa04-7a80d3ba6450",
              "name": "janela_consulta",
              "value": "30d",
              "type": "string"
            },
            {
              "id": "dad3776e-9dd3-403a-847c-eb33d633f836",
              "name": "query_usada",
              "value": "={{ (() => { const nome = ($json.nome || '').replace(/\"/g, ''); const nomeEleitoral = ($json.nome_eleitoral || '').replace(/\"/g, ''); const variantes = [`\"${nome}\"`]; if (nomeEleitoral && nomeEleitoral !== nome) variantes.push(`\"${nomeEleitoral}\"`); const contexto = ['deputado', 'camara', $json.sigla_partido ? `\"${$json.sigla_partido}\"` : null, $json.sigla_uf ? `\"${$json.sigla_uf}\"` : null].filter(Boolean); return `(${variantes.join(' OR ')}) AND (${contexto.join(' OR ')})`; })() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7060d8b9-c667-48f3-a2d4-1b3fa7d87d8c",
      "name": "Build Recent Query Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        160
      ]
    },
    {
      "parameters": {
        "url": "https://api.gdeltproject.org/api/v2/doc/doc",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.query_usada }}"
            },
            {
              "name": "mode",
              "value": "ArtList"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "sort",
              "value": "HybridRel"
            },
            {
              "name": "timespan",
              "value": "30d"
            },
            {
              "name": "maxrecords",
              "value": "10"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "ceec0b9e-5810-4d5c-bc0c-e7386c01c0aa",
      "name": "Fetch Recent News from GDELT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        768,
        160
      ],
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2e498620-c4ee-4dc7-9a48-80ce4e3d6505",
              "leftValue": "={{ $json.articles ? $json.articles.length : 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5b238ab1-52a2-49c8-a586-eb2e2a341afe",
      "name": "If Recent Articles",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        992,
        160
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "articles",
        "options": {}
      },
      "id": "16f4390b-91be-4eaf-b64c-79cb2ac96ca0",
      "name": "Split Recent Articles",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1216,
        96
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a9c69459-8703-4849-bb6c-615c5ce8ea35",
              "name": "politico_id",
              "value": "={{ $('Build Recent Query Context').item.json.politico_id }}",
              "type": "number"
            },
            {
              "id": "8a229947-8b49-4b16-9914-3f5c6139526d",
              "name": "titulo",
              "value": "={{ $json.title || null }}",
              "type": "string"
            },
            {
              "id": "7ab46fb2-29ee-45ae-a13c-719948f8aeb4",
              "name": "resumo",
              "value": "={{ null }}",
              "type": "string"
            },
            {
              "id": "7d17df50-2839-4c84-9a5a-a51fbcbda6f6",
              "name": "url",
              "value": "={{ $json.url || null }}",
              "type": "string"
            },
            {
              "id": "1dc24d8f-f568-43fc-bda5-7674722147b8",
              "name": "veiculo",
              "value": "={{ $json.domain || null }}",
              "type": "string"
            },
            {
              "id": "2ae94919-b286-40e5-a08c-fb70f59d69bf",
              "name": "dominio",
              "value": "={{ $json.domain || null }}",
              "type": "string"
            },
            {
              "id": "8bd2215b-b5c1-4383-ba1b-af54c331e529",
              "name": "data_publicacao",
              "value": "={{ (() => { const s = $json.seendate || ''; if (!s || s.length < 15) return null; return `${s.slice(0,4)}-${s.slice(4,6)}-${s.slice(6,8)}T${s.slice(9,11)}:${s.slice(11,13)}:${s.slice(13,15)}Z`; })() }}",
              "type": "string"
            },
            {
              "id": "e33cda36-b743-4f61-8c01-eea816926c76",
              "name": "imagem_url",
              "value": "={{ $json.socialimage || null }}",
              "type": "string"
            },
            {
              "id": "3db5b612-462b-4c53-90c6-d5ae537ffce0",
              "name": "idioma",
              "value": "={{ $json.language || null }}",
              "type": "string"
            },
            {
              "id": "b2faf36d-b425-4b48-a135-b4b5f7a2f74d",
              "name": "pais_origem",
              "value": "={{ $json.sourcecountry || null }}",
              "type": "string"
            },
            {
              "id": "4b77f15f-59e1-443d-9517-aa4d56ff87a1",
              "name": "fonte_coleta",
              "value": "gdelt_doc_2",
              "type": "string"
            },
            {
              "id": "d10c9dcc-d051-4dd1-9dc1-1ee4129693dc",
              "name": "periodo_tipo",
              "value": "={{ $('Build Recent Query Context').item.json.periodo_tipo }}",
              "type": "string"
            },
            {
              "id": "5449a99e-e694-4dc3-b5f8-9935c88f93ce",
              "name": "janela_consulta",
              "value": "={{ $('Build Recent Query Context').item.json.janela_consulta }}",
              "type": "string"
            },
            {
              "id": "3670726b-7153-438a-a5d3-fa76fcae36b8",
              "name": "query_usada",
              "value": "={{ $('Build Recent Query Context').item.json.query_usada }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "85637f4e-2352-4958-a931-2765ce4f7ca2",
      "name": "Map Recent News to Database",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        96
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "name",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "noticias_politicos"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "politico_id",
            "url"
          ],
          "schema": [
            { "id": "id", "displayName": "id", "required": false, "defaultMatch": true, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "politico_id", "displayName": "politico_id", "required": true, "defaultMatch": false, "display": true, "type": "number", "canBeUsedToMatch": true },
            { "id": "titulo", "displayName": "titulo", "required": true, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "resumo", "displayName": "resumo", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "url", "displayName": "url", "required": true, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "veiculo", "displayName": "veiculo", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "dominio", "displayName": "dominio", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "data_publicacao", "displayName": "data_publicacao", "required": false, "defaultMatch": false, "display": true, "type": "dateTime", "canBeUsedToMatch": false },
            { "id": "imagem_url", "displayName": "imagem_url", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "idioma", "displayName": "idioma", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "pais_origem", "displayName": "pais_origem", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "fonte_coleta", "displayName": "fonte_coleta", "required": true, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "periodo_tipo", "displayName": "periodo_tipo", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "janela_consulta", "displayName": "janela_consulta", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "query_usada", "displayName": "query_usada", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d70ef911-d0bb-47ef-a0d2-64d1cb85cf39",
      "name": "Upsert Recent News",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1680,
        96
      ],
      "credentials": {
        "postgres": {
          "id": "YLVCMMsG43hwaUPk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 4 1 * *"
            }
          ]
        }
      },
      "id": "2df13bc3-c8de-41b0-932d-6f79c9dc1fd4",
      "name": "Monthly 04:30 - Historical News",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -224,
        736
      ]
    },
    {
      "parameters": {},
      "id": "db29a62a-650c-4330-bf36-a0f45263f5d8",
      "name": "Manual Historical Backfill",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        912
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, nome, COALESCE(nome_eleitoral, nome) AS nome_eleitoral, sigla_partido, sigla_uf\nFROM politicos\nWHERE ativo = true\nORDER BY nome ASC;",
        "options": {}
      },
      "id": "876a6771-64c2-4e02-81f0-b5cbce2267a1",
      "name": "Get Active Deputies - Historical",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        16,
        816
      ],
      "credentials": {
        "postgres": {
          "id": "YLVCMMsG43hwaUPk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "ca518456-7b5c-450d-a987-4c42d7f5d575",
      "name": "Loop Deputies - Historical",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        256,
        816
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b8e749c7-5026-411f-b652-95b24b345508",
              "name": "politico_id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "9e93a14c-7972-4f1f-b485-155895de28e5",
              "name": "nome",
              "value": "={{ $json.nome }}",
              "type": "string"
            },
            {
              "id": "b15c8e06-71d8-445f-92e9-fa2a4b3838e5",
              "name": "nome_eleitoral",
              "value": "={{ $json.nome_eleitoral }}",
              "type": "string"
            },
            {
              "id": "3275b610-9b4b-48bf-b2f8-3b5ea8592b68",
              "name": "sigla_partido",
              "value": "={{ $json.sigla_partido }}",
              "type": "string"
            },
            {
              "id": "01b27cef-fa4f-4079-aa1a-623a72ca058c",
              "name": "sigla_uf",
              "value": "={{ $json.sigla_uf }}",
              "type": "string"
            },
            {
              "id": "e94b32c6-32d7-434d-bd83-866f8231cce8",
              "name": "periodo_tipo",
              "value": "historico",
              "type": "string"
            },
            {
              "id": "c99a6fb8-8c91-4fbe-ac35-08da91e0bdff",
              "name": "janela_consulta",
              "value": "1y",
              "type": "string"
            },
            {
              "id": "66ec8fcd-7592-4f7d-abdc-abf20dff51bb",
              "name": "query_usada",
              "value": "={{ (() => { const nome = ($json.nome || '').replace(/\"/g, ''); const nomeEleitoral = ($json.nome_eleitoral || '').replace(/\"/g, ''); const variantes = [`\"${nome}\"`]; if (nomeEleitoral && nomeEleitoral !== nome) variantes.push(`\"${nomeEleitoral}\"`); const contexto = ['deputado', 'camara', $json.sigla_partido ? `\"${$json.sigla_partido}\"` : null, $json.sigla_uf ? `\"${$json.sigla_uf}\"` : null].filter(Boolean); return `(${variantes.join(' OR ')}) AND (${contexto.join(' OR ')})`; })() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "09c67fbb-e7dd-45c8-98a5-cad7d7d0b955",
      "name": "Build Historical Query Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        816
      ]
    },
    {
      "parameters": {
        "url": "https://api.gdeltproject.org/api/v2/doc/doc",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.query_usada }}"
            },
            {
              "name": "mode",
              "value": "ArtList"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "sort",
              "value": "HybridRel"
            },
            {
              "name": "timespan",
              "value": "1y"
            },
            {
              "name": "maxrecords",
              "value": "15"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "aa5d2474-2d86-4c16-8fc8-1e06add72ff2",
      "name": "Fetch Historical News from GDELT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        768,
        816
      ],
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ba480935-0404-4473-9950-8a5e01ae4b7c",
              "leftValue": "={{ $json.articles ? $json.articles.length : 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "77d569f4-8e6d-45cd-9018-919a1129931a",
      "name": "If Historical Articles",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        992,
        816
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "articles",
        "options": {}
      },
      "id": "76d112af-2cf5-46c2-9d4b-2bdf8bf32699",
      "name": "Split Historical Articles",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1216,
        752
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "491029f5-764c-435d-aa0d-e0e28a2d85a1", "name": "politico_id", "value": "={{ $('Build Historical Query Context').item.json.politico_id }}", "type": "number" },
            { "id": "5d56265f-6cf0-48c1-98c5-f9af5c0b5db4", "name": "titulo", "value": "={{ $json.title || null }}", "type": "string" },
            { "id": "db4d612c-fef8-498f-bba6-cf10f6f87f85", "name": "resumo", "value": "={{ null }}", "type": "string" },
            { "id": "56018a65-3c3a-493d-97fc-d717df0206db", "name": "url", "value": "={{ $json.url || null }}", "type": "string" },
            { "id": "9246bcb2-4e81-4583-a96d-cb975b6f3668", "name": "veiculo", "value": "={{ $json.domain || null }}", "type": "string" },
            { "id": "0ffed3fd-ef09-4f15-949e-f9dba76e7897", "name": "dominio", "value": "={{ $json.domain || null }}", "type": "string" },
            { "id": "ff8981dc-f277-4ab1-b9ca-3068e80cc959", "name": "data_publicacao", "value": "={{ (() => { const s = $json.seendate || ''; if (!s || s.length < 15) return null; return `${s.slice(0,4)}-${s.slice(4,6)}-${s.slice(6,8)}T${s.slice(9,11)}:${s.slice(11,13)}:${s.slice(13,15)}Z`; })() }}", "type": "string" },
            { "id": "bf520dd5-f8fc-4304-a749-5cdf035b54af", "name": "imagem_url", "value": "={{ $json.socialimage || null }}", "type": "string" },
            { "id": "2711009e-98db-4c75-b10d-b35471c6150c", "name": "idioma", "value": "={{ $json.language || null }}", "type": "string" },
            { "id": "24186c15-19f7-4075-88bf-d0bdc7793321", "name": "pais_origem", "value": "={{ $json.sourcecountry || null }}", "type": "string" },
            { "id": "ffc5fbb2-f39e-4b79-bb88-86631b0faa43", "name": "fonte_coleta", "value": "gdelt_doc_2", "type": "string" },
            { "id": "fe88d18d-d4c0-4d76-a894-b5995d546c62", "name": "periodo_tipo", "value": "={{ $('Build Historical Query Context').item.json.periodo_tipo }}", "type": "string" },
            { "id": "86994461-c662-4cc4-adbe-3c71ec3c7997", "name": "janela_consulta", "value": "={{ $('Build Historical Query Context').item.json.janela_consulta }}", "type": "string" },
            { "id": "cc75afc5-18ab-4370-8855-db6922195f83", "name": "query_usada", "value": "={{ $('Build Historical Query Context').item.json.query_usada }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "db8853af-3dfc-4d66-8eae-a7b0ac66b14d",
      "name": "Map Historical News to Database",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        752
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "name",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "noticias_politicos"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "politico_id",
            "url"
          ],
          "schema": [
            { "id": "id", "displayName": "id", "required": false, "defaultMatch": true, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "politico_id", "displayName": "politico_id", "required": true, "defaultMatch": false, "display": true, "type": "number", "canBeUsedToMatch": true },
            { "id": "titulo", "displayName": "titulo", "required": true, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "resumo", "displayName": "resumo", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "url", "displayName": "url", "required": true, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "veiculo", "displayName": "veiculo", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "dominio", "displayName": "dominio", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "data_publicacao", "displayName": "data_publicacao", "required": false, "defaultMatch": false, "display": true, "type": "dateTime", "canBeUsedToMatch": false },
            { "id": "imagem_url", "displayName": "imagem_url", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "idioma", "displayName": "idioma", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "pais_origem", "displayName": "pais_origem", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "fonte_coleta", "displayName": "fonte_coleta", "required": true, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "periodo_tipo", "displayName": "periodo_tipo", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "janela_consulta", "displayName": "janela_consulta", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "query_usada", "displayName": "query_usada", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f22a9be0-3f8a-46d6-90e9-ab0c17965e61",
      "name": "Upsert Historical News",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1680,
        752
      ],
      "credentials": {
        "postgres": {
          "id": "YLVCMMsG43hwaUPk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "# UPSERT NOTICIAS\nBusca manchetes relevantes por deputado em duas camadas:\n- `recente`: ultimos 30 dias, diariamente\n- `historico`: ultimos 12 meses, refresh mensal ou manual",
        "height": 464,
        "width": 2160
      },
      "id": "f0c30e57-0389-4502-b7c6-2224449a0c66",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -384,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Daily 05:00 - Recent News": {
      "main": [
        [
          {
            "node": "Get Active Deputies - Recent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Deputies - Recent": {
      "main": [
        [
          {
            "node": "Loop Deputies - Recent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Deputies - Recent": {
      "main": [
        [],
        [
          {
            "node": "Build Recent Query Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Recent Query Context": {
      "main": [
        [
          {
            "node": "Fetch Recent News from GDELT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Recent News from GDELT": {
      "main": [
        [
          {
            "node": "If Recent Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Recent Articles": {
      "main": [
        [
          {
            "node": "Split Recent Articles",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Deputies - Recent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Recent Articles": {
      "main": [
        [
          {
            "node": "Map Recent News to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Recent News to Database": {
      "main": [
        [
          {
            "node": "Upsert Recent News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Recent News": {
      "main": [
        [
          {
            "node": "Loop Deputies - Recent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monthly 04:30 - Historical News": {
      "main": [
        [
          {
            "node": "Get Active Deputies - Historical",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Historical Backfill": {
      "main": [
        [
          {
            "node": "Get Active Deputies - Historical",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Deputies - Historical": {
      "main": [
        [
          {
            "node": "Loop Deputies - Historical",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Deputies - Historical": {
      "main": [
        [],
        [
          {
            "node": "Build Historical Query Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Historical Query Context": {
      "main": [
        [
          {
            "node": "Fetch Historical News from GDELT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Historical News from GDELT": {
      "main": [
        [
          {
            "node": "If Historical Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Historical Articles": {
      "main": [
        [
          {
            "node": "Split Historical Articles",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Deputies - Historical",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Historical Articles": {
      "main": [
        [
          {
            "node": "Map Historical News to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Historical News to Database": {
      "main": [
        [
          {
            "node": "Upsert Historical News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Historical News": {
      "main": [
        [
          {
            "node": "Loop Deputies - Historical",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3ad0fe41-f30d-46b5-b151-c9ce6b8264aa",
  "meta": {
    "instanceId": "7c72b99248d90384dd9122231bdcb69e79eb19b288f01e8691443edde47edc09"
  },
  "id": "UPSERT_NOTICIAS_CATALOGO_POLITICO",
  "tags": []
}
