upsert votacoes.json
{
  "name": "upsert votacoes",
  "nodes": [
    {
      "parameters": {
        "batchSize": 2,
        "options": {}
      },
      "id": "cdfb5540-3d30-4bb9-9df4-9976aa6b2f3a",
      "name": "Loop (1 Votação por vez)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        160,
        192
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "v-1",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "v-2",
              "name": "sigla_tipo",
              "value": "={{ $json.siglaTipo }}",
              "type": "string"
            },
            {
              "id": "v-3",
              "name": "numero",
              "value": "={{ parseInt($json.numero) || null }}",
              "type": "number"
            },
            {
              "id": "v-4",
              "name": "ano",
              "value": "={{ parseInt($json.ano) || null }}",
              "type": "number"
            },
            {
              "id": "v-5",
              "name": "ementa",
              "value": "={{ $json.descricao }}",
              "type": "string"
            },
            {
              "id": "v-6",
              "name": "data_votacao",
              "value": "={{ $json.data }}",
              "type": "string"
            },
            {
              "id": "v-7",
              "name": "aprovacao",
              "value": "={{ parseInt($json.aprovacao) || 0 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "9b8396a6-259e-4d02-8b3b-58852d963433",
      "name": "Mapear Votação",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        192
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "name",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "votacoes",
          "cachedResultName": "votacoes"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sigla_tipo",
              "displayName": "sigla_tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "ano",
              "displayName": "ano",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "ementa",
              "displayName": "ementa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "aprovacao",
              "displayName": "aprovacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "data_hora_votacao",
              "displayName": "data_hora_votacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "040fc967-8d8a-4b0b-b06e-3419d85d0104",
      "name": "Upsert Votação",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        624,
        192
      ],
      "settings": {
        "continueOnFail": true
      },
      "credentials": {
        "postgres": {
          "id": "YLVCMMsG43hwaUPk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://dadosabertos.camara.leg.br/api/v2/votacoes/{{ $('Loop (1 Votação por vez)').item.json.id }}/votos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "id": "046d906e-eba0-4883-abf3-834ee262fb7d",
      "name": "Buscar Votos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        800,
        192
      ],
      "settings": {
        "continueOnFail": true
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "if-cond",
              "leftValue": "={{ $json.dados ? $json.dados.length : 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1008,
        192
      ],
      "id": "f926a8e3-bfe4-4cee-b8cb-f40d485889e1",
      "name": "Votação Simbólica?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "vt-1",
              "name": "votacao_id",
              "value": "={{ $('Loop (1 Votação por vez)').item.json.id }}",
              "type": "string"
            },
            {
              "id": "vt-2",
              "name": "politico_id",
              "value": "={{ $json.deputado_.id }}",
              "type": "number"
            },
            {
              "id": "vt-3",
              "name": "voto",
              "value": "={{ $json.tipoVoto }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a841cdd3-af93-45eb-9100-64035b4c10e4",
      "name": "Mapear Votos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1312,
        -144
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "name",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "votos_deputados",
          "cachedResultName": "votos_deputados"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "votacao_id",
            "politico_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "votacao_id",
              "displayName": "votacao_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "politico_id",
              "displayName": "politico_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "voto",
              "displayName": "voto",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "7372d2ed-da04-4a93-809c-6d30b66aaa88",
      "name": "Upsert Votos",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1520,
        -144
      ],
      "settings": {
        "continueOnFail": true
      },
      "credentials": {
        "postgres": {
          "id": "YLVCMMsG43hwaUPk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        320,
        48
      ],
      "id": "a7f66357-6e81-4cd6-acd1-e9a83fdac539",
      "name": "Fim do Semestre"
    },
    {
      "parameters": {
        "url": "https://dadosabertos.camara.leg.br/api/v2/votacoes",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "dataInicio",
              "value": "2023-01-01"
            },
            {
              "name": "dataFim",
              "value": "2023-03-30"
            },
            {
              "name": "itens",
              "value": "200"
            }
          ]
        },
        "options": {}
      },
      "id": "f29b2b4e-a005-48c2-992e-0606e92c7276",
      "name": "Buscar Votações1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -208,
        192
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "dados",
        "options": {}
      },
      "id": "4bc42eb0-8074-40c0-b047-a92b5e94c743",
      "name": "Extrair Array de Votações1",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -48,
        192
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "dados",
        "options": {}
      },
      "id": "6d624eb5-6042-46b4-96f2-f23f150df397",
      "name": "Extrair Array de Votos1",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1120,
        -144
      ]
    },
    {
      "parameters": {
        "content": "# BUSCAR E UPSERT VOTACOES",
        "height": 624,
        "width": 2272
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -416,
        -160
      ],
      "id": "f3cb5a81-6472-4e77-bc72-32708c84144b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -384,
        192
      ],
      "id": "9d619d90-0dc7-46a0-8088-124977400480",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Loop (1 Votação por vez)": {
      "main": [
        [
          {
            "node": "Fim do Semestre",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mapear Votação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapear Votação": {
      "main": [
        [
          {
            "node": "Upsert Votação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Votação": {
      "main": [
        [
          {
            "node": "Buscar Votos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Votos": {
      "main": [
        [
          {
            "node": "Votação Simbólica?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Votação Simbólica?": {
      "main": [
        [
          {
            "node": "Extrair Array de Votos1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop (1 Votação por vez)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapear Votos": {
      "main": [
        [
          {
            "node": "Upsert Votos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Votos": {
      "main": [
        [
          {
            "node": "Loop (1 Votação por vez)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Votações1": {
      "main": [
        [
          {
            "node": "Extrair Array de Votações1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Array de Votações1": {
      "main": [
        [
          {
            "node": "Loop (1 Votação por vez)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Array de Votos1": {
      "main": [
        [
          {
            "node": "Mapear Votos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Buscar Votações1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ae531d46-746b-4e8b-8f85-9d9d9fac1401",
  "meta": {
    "instanceId": "7c72b99248d90384dd9122231bdcb69e79eb19b288f01e8691443edde47edc09"
  },
  "id": "D0w-_mcOYcmdLELYUhLEF",
  "tags": []
}