UPSERT DESPESAS.json
{
  "name": "UPSERT DESPESAS",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 15 * *"
            }
          ]
        }
      },
      "id": "40018b6e-97a8-4223-861f-2c497391940f",
      "name": "Monthly on 15th - Collect Expenses",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        1168,
        1104
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM politicos WHERE ativo = true",
        "options": {}
      },
      "id": "c9c8f9bd-3e7e-47b9-b74f-22c08498930c",
      "name": "Get Active Deputies",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1392,
        1104
      ],
      "credentials": {
        "postgres": {
          "id": "YLVCMMsG43hwaUPk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 2,
        "options": {}
      },
      "id": "82213316-63b9-4c7c-b366-647b125d32ee",
      "name": "Loop Over Deputies",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1600,
        848
      ]
    },
    {
      "parameters": {
        "url": "=https://dadosabertos.camara.leg.br/api/v2/deputados/{{ $json.id }}/despesas",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ano",
              "value": "=2023"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5,
              "batchInterval": 1500
            }
          }
        }
      },
      "id": "51f8c9c0-27d5-4930-afb4-50d8807a484c",
      "name": "Fetch Deputy Expenses",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1872,
        944
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "dados",
        "options": {}
      },
      "id": "92f2c045-39ec-4cc2-b3c5-fa3ec39b4bc0",
      "name": "Extract Expenses Array",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2320,
        912
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "politico_id",
              "value": "={{ $('Loop Over Deputies').item.json.id }}",
              "type": "number"
            },
            {
              "id": "id-2",
              "name": "ano",
              "value": "={{ $json.ano }}",
              "type": "number"
            },
            {
              "id": "id-3",
              "name": "mes",
              "value": "={{ $json.mes }}",
              "type": "number"
            },
            {
              "id": "id-4",
              "name": "tipo_despesa",
              "value": "={{ $json.tipoDespesa }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "cnpj_cpf_fornecedor",
              "value": "={{ $json.cnpjCpfFornecedor }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "nome_fornecedor",
              "value": "={{ $json.nomeFornecedor }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "tipo_documento",
              "value": "={{ $json.tipoDocumento }}",
              "type": "string"
            },
            {
              "id": "id-8",
              "name": "data_documento",
              "value": "={{ $json.dataDocumento ? $json.dataDocumento : null }}",
              "type": "string"
            },
            {
              "id": "id-9",
              "name": "num_documento",
              "value": "={{ $json.numDocumento }}",
              "type": "string"
            },
            {
              "id": "id-10",
              "name": "valor_documento",
              "value": "={{ parseFloat($json.valorDocumento) || 0 }}",
              "type": "number"
            },
            {
              "id": "id-11",
              "name": "valor_glosa",
              "value": "={{ parseFloat($json.valorGlosa) || 0 }}",
              "type": "number"
            },
            {
              "id": "id-12",
              "name": "valor_liquido",
              "value": "={{ parseFloat($json.valorLiquido) || 0 }}",
              "type": "number"
            },
            {
              "id": "id-13",
              "name": "num_lote",
              "value": "={{ $json.numLote }}",
              "type": "string"
            },
            {
              "id": "id-14",
              "name": "num_ressarcimento",
              "value": "={{ $json.numRessarcimento }}",
              "type": "string"
            },
            {
              "id": "id-15",
              "name": "parcela",
              "value": "={{ parseInt($json.parcela) || 0 }}",
              "type": "number"
            },
            {
              "id": "id-16",
              "name": "url_documento",
              "value": "={{ $json.urlDocumento }}",
              "type": "string"
            },
            {
              "id": "id-17",
              "name": "cod_documento",
              "value": "={{ $json.codDocumento }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9b09e27c-2c89-4b5e-a3d3-7b2492cb897e",
      "name": "Map to Database Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2544,
        960
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "12e9a241-87cc-489f-bbc0-bb3ac4f27dda",
              "leftValue": "={{ $json.dados.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2064,
        960
      ],
      "id": "b69a8f9a-2d71-4fde-8345-94e04f40d04e",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "despesas",
          "cachedResultName": "despesas"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "cod_documento"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "politico_id",
              "displayName": "politico_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "ano",
              "displayName": "ano",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "mes",
              "displayName": "mes",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "tipo_despesa",
              "displayName": "tipo_despesa",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "valor_liquido",
              "displayName": "valor_liquido",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "url_documento",
              "displayName": "url_documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "cnpj_cpf_fornecedor",
              "displayName": "cnpj_cpf_fornecedor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "data_documento",
              "displayName": "data_documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "nome_fornecedor",
              "displayName": "nome_fornecedor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "num_documento",
              "displayName": "num_documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "num_lote",
              "displayName": "num_lote",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "num_ressarcimento",
              "displayName": "num_ressarcimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "parcela",
              "displayName": "parcela",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "tipo_documento",
              "displayName": "tipo_documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "valor_documento",
              "displayName": "valor_documento",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "valor_glosa",
              "displayName": "valor_glosa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "cod_documento",
              "displayName": "cod_documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6e1d31d7-8669-44d8-8479-1722c3228393",
      "name": "Upsert Expenses",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2736,
        1008
      ],
      "credentials": {
        "postgres": {
          "id": "YLVCMMsG43hwaUPk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://dadosabertos.camara.leg.br/api/v2/deputados/{{ $json.id }}/despesas",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ano",
              "value": "={{ $now.minus({months: 1}).year }}"
            },
            {
              "name": "mes",
              "value": "={{ $now.minus({months: 1}).month }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5,
              "batchInterval": 1500
            }
          }
        }
      },
      "id": "5bbf35a9-cfed-41f3-8271-148d50312145",
      "name": "Fetch Deputy Expenses1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2480,
        704
      ]
    },
    {
      "parameters": {
        "content": "## VOLTAR COM ESSE NODE DEPOIS",
        "height": 224,
        "width": 304,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2320,
        608
      ],
      "id": "c28c0f79-a706-41ca-88f3-9bf18c08f777",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "errorMessage": "sss"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1824,
        736
      ],
      "id": "848e91e6-54d8-4899-8b6d-3ede71f6cd8f",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "content": "# WORKFLOW DE INSERÇÃO DE DESPESAS\n",
        "height": 704,
        "width": 1840
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1072,
        576
      ],
      "id": "bb45a5bc-85ac-4988-bff3-fd1c52ad50f8",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT nome, \"sigla_partido\", \"sigla_uf\" \nFROM politicos \nWHERE id = 178946;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        832,
        624
      ],
      "id": "e5b43702-8744-4acd-8389-f4e978352e25",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "YLVCMMsG43hwaUPk",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Monthly on 15th - Collect Expenses": {
      "main": [
        [
          {
            "node": "Get Active Deputies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Deputies": {
      "main": [
        [
          {
            "node": "Loop Over Deputies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Deputies": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Deputy Expenses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Deputy Expenses": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Expenses Array": {
      "main": [
        [
          {
            "node": "Map to Database Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map to Database Fields": {
      "main": [
        [
          {
            "node": "Upsert Expenses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Extract Expenses Array",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Deputies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Expenses": {
      "main": [
        [
          {
            "node": "Loop Over Deputies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1dd66902-8f55-42a4-a552-b1cd07e9c6f8",
  "meta": {
    "instanceId": "7c72b99248d90384dd9122231bdcb69e79eb19b288f01e8691443edde47edc09"
  },
  "id": "EYG1zJ_Zp2hPt49FjuSki",
  "tags": []
}